@import "../../styles/index.scss";

.inventory {
  &__grid {
    display: grid;
    gap: 4px;
    width: 600px;
    height: 600px;
    justify-self: center;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    background-color: $grid-bg-color;
    padding: 20px;
  }
}

.cell {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: $item-bg-color;
  outline: 1px solid $border-color;
  box-sizing: border-box;
}

.item-common {
  background-color: $common-color;
  outline: 2px solid $common-border-color;
}
.item-uncommon {
  background-color: $uncommon-color;
  outline: 2px solid $uncommon-border-color;
}
.item-rare {
  background-color: $rare-color;
  outline: 2px solid $rare-border-color;
}
.item-epic {
  background-color: $epic-color;
  outline: 2px solid $epic-border-color;
}
.item-legendary {
  background-color: $legendary-color;
  outline: 2px solid $legendary-border-color;
}
