@import "../../styles/index.scss";
@import "../../app/App.scss";

.inventory {
    display: flex;
    justify-content: space-between;
    background-color: aqua;

    &__wrapper {
        display: block;
        max-width: 100%;
        margin: 20px;
        justify-self: center;
        align-items: center;
    }

    &__error {
        color: $error-color;
    }
}