$font: "Inter", sans-serif;
$error-color: rgb(217, 36, 0);

$common-color: #a9bbc1;
$common-border-color:#495e63; 

$uncommon-color: #32b204;
$uncommon-border-color: #1a6100;

$rare-color: #137af9;
$rare-border-color: #003c84;

$epic-color: #8435f2;
$epic-border-color: #4c05b1;

$legendary-color: #ffa202;
$legendary-border-color: #ce6300;


$app-bg-color: #ffffff;
$sidebar-bg-color: #f2f2f2;
$grid-bg-color: #e9ecef;
$item-bg-color: #fefefe;

$border-color: #ccc;