$font: "Inter", sans-serif;
$error-color: rgb(217, 36, 0);

$common-color: #c6c6c6;
$uncommon-color: #30b600;
$rare-color: #0061d8;
$epic-color: #9200e7;
$legendary-color: #ff9d00;

$app-bg-color: #ffffff;
$sidebar-bg-color: #f2f2f2;
$grid-bg-color: #e9ecef;
$item-bg-color: #fefefe;

$border-color: #ccc;