@import "../styles/index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: $font;
  background-color: $app-bg-color;
  height: 100vh;
}

.text {
  font-family: $font;
}
